@import '../../style/variables.scss';

$navbar-height:50px;

.admin-space {
    padding-top: $navbar-height;
    box-sizing: border-box;

    .side-panel {
        height: 100%;
        width: 250px;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .side-panel-item {
            padding: 15px;
            @include font-size-small();
            cursor: pointer;
            transition: background-color 300ms;
            border-radius: 5px;
            user-select: none;
            display: block;

            &.selected {
                background-color: $info;
                color: white;

                &:hover {
                    background-color: $info;
                }
            }

            &:hover {
                background-color: white;
            }

            .icon {
                margin-right: 15px;
                width: 24px;
                text-align: center;
            }
        }
    }

    .admin-space-body {
        flex: 1;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}